<%- include('header') %>
    <!-- Page content-->
    <div class="container-fluid">
            <% if(loginid == '-1') {%>
            <h1 class="mt-4">Balance</h1>
            <p>Please Login to see stats</p>
            <%}%>
            <%if(loginid != '-1'){%>
                <h1 class="mt-4"><%= username%>'s Balance is $<%= balance%></h1>
                <h2 class="mt-4">Your last daily claim was <%= lastClaimDate %></h2>
            <%}%>
            
    </div>
<%- include('footer') %>